* {
  font-family: "Anton", sans-serif;
  scroll-behavior: smooth;
}
li a {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  letter-spacing: 1px;
}
li a:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
section {
  padding: 10px;
}
.container {
  position: relative;
  bottom: 30%;
}
.container img {
  max-width: 50px;
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}
.container #logo:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
#mainNav,
.navbar {
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
  top: 0;
}
@media screen and (max-width: 600px) {
  #mainNav {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  }
}
.navbar {
  height: 300px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  color: white;
  max-width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 0% 100%);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.onHoover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.candyClick:hover {
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.candyClick {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: solid 0px;
  padding: 10px;
  position: relative;
  right: 40px;

  transition: 0, 3s;
}
#click-card {
  width: 0;
}

.candycolour {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-text h1 {
  font-size: 50px;
}
.header-text {
  text-align: center;
}

.header-text h1 {
  font-size: 60px;
  width: 500px;
}
@media screen and (max-width: 600px) {
  .nav-item a {
    position: relative;
    display: inline;
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .nav-item a {
    position: relative;
    display: inline;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .main-content {
    flex-wrap: wrap;
  }
  .header-text h1 {
    font-size: 50px;
  }
  .header-text {
    margin: 30px;
  }
  .button-text h1 {
    font-size: 50px;
  }
  .button-text {
    margin: 50px;
    border: solid 0, 5px black;
    padding-bottom: 60px;
  }
}
.footer {
  display: flex;
  justify-content: space-around;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
.footer p {
  margin: 10px;
  padding: 10px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.699),
      rgba(255, 255, 255, 0.651)
    ),
    url(/img/candyy.jpg);
}
.container1 {
  position: relative;
  top: 50px;
}

#arrow {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 11%;
  bottom: 42%;
  box-shadow: 0 10px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#arrow2 {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 9%;
  bottom: 42%;
  box-shadow: 0 10px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#arrow:hover {
  box-shadow: 0 20px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#arrow2:hover {
  box-shadow: 0 20px 0px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
@media screen and (max-width: 600px) {
  #arrow {
    display: none;
  }
  #arrow2 {
    display: none;
  }
}
.container2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  top: 100px;
  left: 50%;
  -ms-transform: translate(-50px, -50%);
  transform: translate(-50%, -50px);
}
.container3,
#output {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.container3 .card,
#output {
  margin-bottom: 100px;
}
.card1 {
  margin: 30px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.card1 img {
  background-color: white;
}
/* On mouse-over, add a deeper shadow */
.card1:hover,
.output {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  background: rgb(236, 233, 233);
  color: rgb(66, 62, 62);
  border-radius: 0px 0px 10px 10px;
}

.btn {
  background-color: rgb(46, 42, 42);
  color: rgb(250, 250, 250);
  border: rgb(177, 108, 108);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .container2,
  .container3,
  #output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .card1 {
    margin: 10px;
  }
}

.main-content {
  position: relative;
  top: 100px;
}
@media screen and (max-width: 600px) {
  .main-content {
    position: relative;
    top: 50px;
  }
}
.btn:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
  transform: scale(1.2);
}
.fa {
  position: relative;
  top: 32px;
  font-size: 30px;
}
.fa:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
  transform: scale(1.2);
}
/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 85%; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(252, 97, 97); /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  height: 50px;
}
@media screen and (max-width: 600px) {
  #myBtn {
    right: 15px;
    width: 35px;
    font-size: 20px;
    padding-left: 9px;
  }
  .candyClick {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* CART CSS */
.card .title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
/* ----------------Kontakta oss---------------- */
@media screen and (max-width: 600px) {
  .contact-box {
    position: absolute;
    top: 1px;
  }
  .right {
    margin: 20px;
  }
  .container4 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }
}
.container4 {
  transform: translate(-50%, -50%);
  right: 50%;
  left: 50%;
  top: 40%;
  width: 80%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-box {
  position: absolute;
  bottom: -400px;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.right,
.left {
  padding: 25px 40px;
}

.right {
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
}

.field {
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  background-color: white;
  border-radius: 1px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

textarea {
  min-height: 100px;
  max-width: 370px;
}

label {
  color: rgb(59, 59, 59);
  font-weight: 800;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
}

.contact-box .column {
  float: left;
  width: 50%;
  padding: 10px;
}

.grundare {
  letter-spacing: 5px;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.contact-box p {
  text-align: center;
}

.contact-box h5 {
  font-size: 32px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.contact-box .button {
  padding: 7px;
  color: white;
  border: #23a6d5 solid 1px;
  border-radius: 3px;
  background-color: #23a6d5;
  font-size: 15px;
}
.cart-toggle {
  display: none;
}
#cart-number {
  background-color: transparent;
  border-style: none;
  color: white;
  padding-top: 34px;
  width: 35px;
}
.footer1 {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
}

.footer1 a {
  text-decoration: none;
  color: black;
}
.footer1 a:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
  transition: 0.3s;
}
